.container{
    background: #FFD580;
    border-radius: 5px;
    height: 56px;
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 10px;
    justify-content: flex-start;
    font-size: 14px;
    gap: 2px
}